html {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}
.nav_container {
  background-color: white;
  width: 100%;
  max-height: 110px;
  display: flex;
  flex-direction: column;
}
.nav_Top {
  box-shadow: 1px 1px 4px gray;
  margin-bottom: 4px;
  min-height: 60px;
  max-height: 90px;
}
.nav_Bottom {
  width: 100%;
  background-color: #f2f3f5;
  min-height: 28px;
  flex-wrap: wrap;
}
.nav_Top,
.nav_Bottom {
  display: flex;
  justify-content: space-around;
}
.nav_Bottom_List {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.nav_Bottom_item {
  text-align: center;
  width: 7%;
}
.nav_Bottom_item a {
  text-decoration: none;
  color: black;
}
.nav_Bottom a:hover {
  color: blue;
}
.nav_group {
  align-items: center;
  display: flex;
  width: 45%;
}
.nav_item {
  padding: 0px 10px;
}
.nav_item.logo img {
  max-width: 80px;
  max-height: 80px;
}
.nav_item-RegLog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 50%;
}
.nav_item-RegLog_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
}
.nav_item-RegLog_item a {
  text-decoration: none;
  color: black;
}
.nav_item-RegLog_item.log {
  background-color: #f2f3f5;
  border-radius: 10%;
  width: 40%;
  height: 90%;
  max-width: 120px;
  max-height: 80px;
  border: #f2f3f5 solid 0.8px;
  align-items: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.nav_item-RegLog_item.reg {
  background-color: orange;
  border-radius: 10%;
  width: 40%;
  height: 90%;
  max-width: 120px;
  max-height: 80px;
  border: orange solid 0.8px;
  align-items: center;
  color: #f2f3f5;
  cursor: pointer;
  text-decoration: none;
}
.nav_item.logo img {
  display: block;
}
.nav_item.search {
  margin: 0 7px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.modal {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  transition: opacity 200ms;
  opacity: 0;
  &:target {
    visibility: visible;
    opacity: 1;
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
}
.modal#modal_intro .modal_body {
  width: 50%;
  height: 40%;
}
.modal#modal_intro .modal_body-inner {
  text-align: center;
  font-size: 1.5rem;
}
.modal_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_body {
  width: 450px;
  height: 300px;
  background-color: white;
  margin: auto;
  z-index: 1;
  border-radius: 7px;
  position: relative;
}
.modal_body-inner {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.modal_body-inner-item {
  margin: 10px 0px;
}
.modal_body-inner-item.question {
  font-size: 0.8rem;
  margin: 3px;
}
.modal_body-inner-item.question a {
  text-decoration: none;
  color: red;
  &:hover {
    color: red;
  }
}
.modal_body-inner-item.form {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}
.modal_body-inner-item.form-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.modal_body-inner-item.submit {
  display: flex;
  position: relative;
  justify-content: center;
}
.modal_body-inner-item.submit a {
  width: 200px;
  height: 40px;
  background-color: #ee4d2d;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 20px;
  line-height: 40px;
}
.main_container {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_section.slidebar {
  width: 100%;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;
}
.main_section.slidebar.btn {
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px 5px;
  /* &:active + .main_section.slidebar.list {
    display: flex;
  } */
}
.main_section.slidebar.list {
  flex: 2;
  border: #f2f3f5 solid 3px;
  flex-direction: row;
  display: flex;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  align-items: center;
  /* display: none; */
}
.main_section.slidebar.list-item {
  width: 100%;
  height: 15%;
  font-size: 1.2rem;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_section.slidebar.picture {
  flex: 6;
  width: 75%;
  height: 100%;
  box-shadow: 1px 1px 4px gray;
}
.slidebar_selection {
  width: 100%;
  border: #f2f3f5 solid 3px;
  box-shadow: 1px 1px 4px gray;
}
.main_section.notification {
  margin: 5px;
  min-width: auto;
  min-height: auto;
  background-color: rgba(252, 116, 110, 0.5);
  text-align: center;
  background-image: url(../42.jpg);
  box-shadow: 1px 1px 4px gray;
}

.main_section.product_list {
  margin: 10px 10px;
}
.product {
  display: flex;
  width: 100%;
  min-height: 30%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.product-title {
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
  min-height: 30px;
  background-color: #f2f3f5;
  box-shadow: 0px 3px 4px rgba(44, 71, 146, 0.5);
  padding-top: 10px;
  padding-left: 10px;
}
.product-box {
  cursor: pointer;
  margin: 5px 10px;
  width: 15%;
  height: 12%;
  border-radius: 7px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 4px rgba(44, 71, 146, 0.5);
}
.product-box:hover .product-btn {
  display: flex;
}
.product-box-title {
  font-size: 0.9rem;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}
.product-img {
  background-size: cover;
  border-radius: 7px;
  width: 100%;
  padding-top: 100%;
  background-position: center;
}
.product-description {
  font-size: 0.85rem;
  text-align: left;
  margin: auto;
}
.product-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-status i {
  font-size: 0.9rem;
}
.product-btn {
  align-self: center;
  width: 50%;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: rgb(104, 174, 254);
  justify-content: center;
  display: none;
}
.product-btn a {
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  text-decoration: none;
}
.main_section.guide {
  min-width: auto;
  min-height: auto;
  background-image: url(../42.jpg);
  text-align: center;
  box-shadow: 1px 1px 4px gray;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .main_section.slidebar.picture {
    display: none;
  }
  #search {
    display: none;
  }
  .fa-solid.fa-magnifying-glass {
    display: none;
  }
  .product-box {
    width: 40%;
    height: 10%;
  }
}
.footer {
  width: 100%;
  height: 20%;
  background-color: rgb(104, 174, 254);
}
