<div class="container-lg p-0">
  <div id="carouselIntroduction" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselIntroduction"
        data-bs-slide-to="0"
        class="active"
        aria-label="Slide 1"
        aria-current="true"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselIntroduction"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class=""
      ></button>
    </div>
    <div id="btn">
      <a
        role="button"
        class="btn btn-danger btn-lg vibrate-1"
        href="https://m.me/100094273371228"
        target="_blank"
      >
        Đăng ký ngay
      </a>
    </div>
    <div
      class="carousel-inner h-100"
      style="
        -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
      "
    >
      <div class="carousel-item active">
        <img src="../Resource/Images/Banner1.jpg" class="w-100" />
      </div>
      <div class="carousel-item">
        <img src="../Resource/Images/Banner2.jpg" class="w-100" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselIntroduction"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
        style="border: 2px solid white"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselIntroduction"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
        style="border: 2px solid white"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<link rel="stylesheet" href="../CSS/Components.css" />
