<div class="container-lg p-0">
  <div id="carouselIntroduction" class="carousel slide" data-bs-ride="carousel">
    <div id="carouselIndicators" class="carousel-indicators"></div>
    <div
      id="carouselInner"
      class="carousel-inner h-100"
      style="
        -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
      "
    ></div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselIntroduction"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
        style="border: 2px solid white"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselIntroduction"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
        style="border: 2px solid white"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<link rel="stylesheet" href="../CSS/Components.css" />
