<div
  id="Why"
  class="container-fluid m-0 why-container"
  style="
    min-height: 300px;
    background-size: contain;
    background-image: url(../Resource/Images/Why_background.avif);
    position: relative;
  "
>
  <div class="container-md row mx-auto pt-3">
    <h2
      style="
        color: #e5db9d;
        margin-bottom: 30px;
        text-align: center;
        text-shadow: 2px 0 #0f2bbd, -2px 0 #0f2bbd, 0 2px #0f2bbd,
          0 -2px #0f2bbd, 1px 1px #0f2bbd, -1px -1px #0f2bbd, 1px -1px #0f2bbd,
          -1px 1px #0f2bbd;
        z-index: 2;
      "
    >
      TẠI SAO HỌC SINH TIN TƯỞNG KHÓA HỌC TOÁN THẦY NGỌC?
    </h2>
    <div class="col-md-5 col-9 col-sm-5 mx-auto bg-white box-item">
      <div class="box-icon">
        <i class="fa-solid fa-chalkboard-user"></i>
      </div>
      <h4 class="box-title">
        Giáo viên kinh nghiệm và trình độ chuyên môn cao
      </h4>
      <ul>
        <li>Thạc sĩ chuyên ngành Toán trường ĐH Quốc Gia TP HCM.</li>
        <li>Cử nhân Sư Phạm Toán ĐH Sư Phạm TP HCM.</li>
        <li>
          Đạt giải nhì kỳ thi học sinh giỏi Toán cấp tỉnh Lâm Đồng năm 2012.
        </li>
        <li>Tham gia viết các cuốn sách luyên thi "Top 1" THPT Quốc Gia.</li>
      </ul>
    </div>
    <div class="col-md-5 col-9 col-sm-5 mx-auto bg-white box-item">
      <div class="box-icon"><i class="fa-solid fa-timeline"></i></div>
      <h4 class="box-title">Lộ trình học phù hợp với từng học sinh</h4>
      <ul>
        <li>Định hướng và ôn tập theo từng giai đoạn cụ thể.</li>
        <li>Bám sát lộ trình ôn thi THPT Quốc gia.</li>
      </ul>
    </div>
    <div class="col-md-5 col-9 col-sm-5 mx-auto bg-white box-item">
      <div class="box-icon"><i class="fa-solid fa-book-open"></i></div>
      <h4 class="box-title">Hệ thống học liệu chất lượng và hiện đại</h4>
      <ul>
        <li>
          Hệ thống bài giảng và video chất lượng, tài liệu được Giáo viên biên
          soạn chi tiết, tỉ mỉ với phương pháp học nắm chắc bản chất.
        </li>
      </ul>
    </div>
    <div class="col-md-5 col-9 col-sm-5 mx-auto bg-white box-item">
      <div class="box-icon"><i class="fa-solid fa-location-dot"></i></div>
      <h4 class="box-title">Địa chỉ</h4>
      <ul>
        <li>523/23A Tùng Thiện Vương, P12, Q8, TP HCM.</li>
        <li>
          Địa chỉ học thuận tiện, gần các trường Võ Văn Kiệt, Trần Khai Nguyên,
          Hùng Vương, Tạ Quang Bửu, Lương Văn Can, Tùng Thiện Vương.
        </li>
      </ul>
    </div>
  </div>
</div>
