<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Thư viện số NEDU</title>
    <link rel="icon" type="image/jpg" href="../Resource/favicon.jpg" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="../JS/JQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../CSS/Components.css" />
    <link rel="stylesheet" href="../CSS/main.css" />
  </head>
  <body>
    <div data-include="../Shared/HeaderLayout.html"></div>
    <main
      id="MyBody"
      class="container-lg p-0"
      style="background-color: white; height: 500px; flex: 1"
    >
      <div style="min-height: 100px" class="w-100 mb-5">
        <div class="w-100 Container_ListLesson d-flex flex-column my-4 p-2">
          <div class="container-md ListLesson_Title my-3 ms-3 ps-5">
            Tài liệu
          </div>
          <div class="container-md ListLessons mx-auto"></div>
          <nav class="d-flex flex-row justify-content-center">
            <ul class="pagination" id="pagination"></ul>
          </nav>
        </div>
      </div>
    </main>
    <div data-include="../Shared/FooterLayout.html"></div>

    <script src="../JS/FetchLayout.js"></script>
    <script src="../JS/API.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", async function () {
        var currentPage = parseInt(
          new URLSearchParams(window.location.search).get("page")
        );
        var offset = (currentPage - 1) * 10;
        const data = await GetMaterials(offset);
        var NoPage = data.NoPage;
        if (currentPage > NoPage) location.href = "../View/Error.html";
        FetchThuVien(data);
        renderPagination(NoPage, currentPage);
      });
    </script>
  </body>
</html>
